body{
    background-color: #5DBB63;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: #234F1E;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 100%;
    display: block;
    padding-bottom: 15px;

}

#hoveds{
    color:white;
}

#logo{
    float: left;
}

a{
    color: white; 
    font-size: 15px;
    margin: 20px;
    
}

#hovedinfo{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

#lskål{
    float: right;
}

#hbur{
    float: right;
}

#hogb{
    float: right;
}